In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Social_Network_Ads.csv")

In [3]:
data.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [4]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
X = data.iloc[:,1:4].values

In [6]:
Y = data.iloc[:,-1].values

In [7]:
Y = Y.reshape(Y.shape[0],1)

In [9]:
Y.shape

(400, 1)

In [10]:
from sklearn.preprocessing import OneHotEncoder

In [11]:
from sklearn.compose import ColumnTransformer

In [12]:
trans = ColumnTransformer([('Tf1',OneHotEncoder(drop='first'),[0])], remainder = 'passthrough')

In [13]:
X = trans.fit_transform(X)

In [14]:
from  sklearn.preprocessing import StandardScaler

In [15]:
sc = StandardScaler()

In [16]:
X = sc.fit_transform(X)

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size= 0.2, random_state = 23)

In [20]:
from sklearn.tree import DecisionTreeClassifier

In [30]:
model = DecisionTreeClassifier(max_depth = 8)

In [31]:
model.fit(X_train,Y_train)

DecisionTreeClassifier(max_depth=8)

In [32]:
Y_pred = model.predict(X_test)

In [33]:
Y_pred

array([0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0], dtype=int64)

In [34]:
from sklearn.metrics import confusion_matrix

In [35]:
cm = confusion_matrix(Y_pred,Y_test)
print(cm)

[[45  4]
 [ 5 26]]

In [36]:
from sklearn.metrics import accuracy_score

In [37]:
score = accuracy_score(Y_pred, Y_test)

In [38]:
print(score)

0.8875